* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}
/*@media only screen and (max-width: 320px) {
    body{
        font-size:14px !important;
    }
}@media only screen and (min-width: 376px) {
    body{
        font-size: 16px !important;
    }
}*/
.flex {
  display: flex;
  display: -webkit-flex;
}
.mui-bar-nav {
  top: -1px !important;
  box-shadow: none !important;
}
#root {
  width: 100%;
  height: 100%;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.animated {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-moz-keyframes slideToBottom {
  from {
    transform: translate3d(0, 256px, 0);
    -webkit-transform: translate3d(0, 256px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideToBottom {
  from {
    transform: translate3d(0, 256px, 0);
    -webkit-transform: translate3d(0, 256px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideToBottom {
  from {
    transform: translate3d(0, 256px, 0);
    -webkit-transform: translate3d(0, 256px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideToBottom {
  from {
    transform: translate3d(0, 256px, 0);
    -webkit-transform: translate3d(0, 256px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.slideToBottom {
  -webkit-animation-name: slideToBottom;
  animation-name: slideToBottom;
}
@-moz-keyframes slideToTop1 {
  0% {
    top: 50%;
  }
  100% {
    top: -150%;
  }
}
@-o-keyframes slideToTop1 {
  0% {
    top: 50%;
  }
  100% {
    top: -150%;
  }
}
@-webkit-keyframes slideToTop1 {
  0% {
    top: 50%;
  }
  100% {
    top: -150%;
  }
}
@keyframes slideToTop1 {
  0% {
    top: 50%;
  }
  100% {
    top: -150%;
  }
}
.slideToTop1 {
  -webkit-animation-name: slideToTop1;
  animation-name: slideToTop1;
}
@-moz-keyframes slideToTop2 {
  0% {
    top: 150%;
  }
  100% {
    top: 50%;
  }
}
@-o-keyframes slideToTop2 {
  0% {
    top: 150%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToTop2 {
  0% {
    top: 150%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideToTop2 {
  0% {
    top: 150%;
  }
  100% {
    top: 50%;
  }
}
.slideToTop2 {
  -webkit-animation-name: slideToTop2;
  animation-name: slideToTop2;
}
.animatedTime {
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-moz-keyframes autoHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 72px;
  }
}
@-o-keyframes autoHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 72px;
  }
}
@-webkit-keyframes autoHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 72px;
  }
}
@keyframes autoHeight {
  0% {
    height: 0px;
  }
  100% {
    height: 72px;
  }
}
.autoHeight {
  -webkit-animation-name: autoHeight;
  animation-name: autoHeight;
}
@-moz-keyframes bottom375 {
  0% {
    bottom: -375px;
  }
  100% {
    bottom: 0px;
  }
}
@-o-keyframes bottom375 {
  0% {
    bottom: -375px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes bottom375 {
  0% {
    bottom: -375px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes bottom375 {
  0% {
    bottom: -375px;
  }
  100% {
    bottom: 0px;
  }
}
.bottom375 {
  -webkit-animation-name: bottom375;
  animation-name: bottom375;
}
@-moz-keyframes height280 {
  0% {
    height: 0px;
  }
  100% {
    height: 280px;
  }
}
@-o-keyframes height280 {
  0% {
    height: 0px;
  }
  100% {
    height: 280px;
  }
}
@-webkit-keyframes height280 {
  0% {
    height: 0px;
  }
  100% {
    height: 280px;
  }
}
@keyframes height280 {
  0% {
    height: 0px;
  }
  100% {
    height: 280px;
  }
}
.height280 {
  -webkit-animation-name: height280;
  animation-name: height280;
}
@-moz-keyframes slideToRight {
  from {
    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideToRight {
  from {
    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideToRight {
  from {
    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideToRight {
  from {
    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.slideToRight {
  -webkit-animation-name: slideToRight;
  animation-name: slideToRight;
}
@-moz-keyframes autoHeightMap {
  0% {
    width: 0px;
  }
  100% {
    width: 226px;
  }
}
@-o-keyframes autoHeightMap {
  0% {
    width: 0px;
  }
  100% {
    width: 226px;
  }
}
@-webkit-keyframes autoHeightMap {
  0% {
    width: 0px;
  }
  100% {
    width: 226px;
  }
}
@keyframes autoHeightMap {
  0% {
    width: 0px;
  }
  100% {
    width: 226px;
  }
}
.autoHeightMap {
  -webkit-animation-name: autoHeightMap;
  animation-name: autoHeightMap;
}
.animated150 {
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-moz-keyframes fixed50top0 {
  0% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
@-o-keyframes fixed50top0 {
  0% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes fixed50top0 {
  0% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
@keyframes fixed50top0 {
  0% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
.fixed50top0 {
  -webkit-animation-name: fixed50top0;
  animation-name: fixed50top0;
}
@-moz-keyframes slideToBottom180 {
  from {
    transform: translate3d(0, 180px, 0);
    -webkit-transform: translate3d(0, 180px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideToBottom180 {
  from {
    transform: translate3d(0, 180px, 0);
    -webkit-transform: translate3d(0, 180px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideToBottom180 {
  from {
    transform: translate3d(0, 180px, 0);
    -webkit-transform: translate3d(0, 180px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideToBottom180 {
  from {
    transform: translate3d(0, 180px, 0);
    -webkit-transform: translate3d(0, 180px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.slideToBottom180 {
  -webkit-animation-name: slideToBottom180;
  animation-name: slideToBottom180;
}
@-moz-keyframes zoomIn13 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  60% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-o-keyframes zoomIn13 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  60% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes zoomIn13 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  60% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes zoomIn13 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  60% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.zoomIn13 {
  -webkit-animation-name: zoomIn13;
  animation-name: zoomIn13;
}
@-moz-keyframes autoWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes autoWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes autoWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes autoWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
.autoWidth {
  -webkit-animation-name: autoWidth;
  animation-name: autoWidth;
}


@-moz-keyframes height45 {
  0% {
    height: 20px;
  }
  100% {
    height: 45px;
  }
}

@-o-keyframes height45 {
  0% {
    height: 20px;
  }
  100% {
    height: 45px;
  }
}
@-webkit-keyframes height45 {
  0% {
    height: 20px;
  }
  100% {
    height: 45px;
  }
}
@keyframes height45 {
  0% {
    height: 20px;
  }
  100% {
    height: 45px;
  }
}
.height45 {
  -webkit-animation-name: height45;
  animation-name: height45;
}

@-moz-keyframes slideToW100 {
  from {
    transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideToW100 {
  from {
    transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideToW100 {
  from {
    transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideToW100 {
  from {
    transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.slideToW100 {
  -webkit-animation-name: slideToW100;
  animation-name: slideToW100;
}

@-moz-keyframes fixedfu50top0 {
  0% {
    top: 15px;
  }
  100% {
    top: 35px;
  }
}
@-o-keyframes fixedfu50top0 {
  0% {
    top: 15px;
  }
  100% {
    top: 35px;
  }
}
@-webkit-keyframes fixedfu50top0 {
  0% {
    top: 15px;
  }
  100% {
    top: 35px;
  }
}
@keyframes fixedfu50top0 {
  0% {
    top: 15px;
  }
  100% {
    top: 35px;
  }
}
.fixedfu50top0 {
  -webkit-animation-name: fixedfu50top0;
  animation-name: fixedfu50top0;
}